.leftArrow {
    height: 100px;
    width: 100px;
    left: 30px;
    bottom: 45%;
    position: fixed;
    z-index: 997;
    background: rgba(255, 255, 255, 0.6);
    /*clip-path: polygon(25% 0, 10% 50%, 25% 100%, 15% 100%, 0 50%, 15% 0);*/
    clip-path: polygon(33% 7%, 15% 50%, 33% 93%, 23% 93%, 5% 50%, 23% 7%);
}

.leftArrow:hover {
    background: rgba(255, 255, 255, 1);
}

.rightArrow {
    height: 100px;
    width: 100px;
    right: 30px;
    bottom: 45%;
    position: fixed;
    z-index: 998;
    background: rgba(255, 255, 255, 0.6);
    /*clip-path: polygon(85% 0, 100% 50%, 85% 100%, 75% 100%, 90% 50%, 75% 0);*/
    clip-path: polygon(77% 7%, 95% 50%, 77% 93%, 67% 93%, 85% 50%, 67% 7%);
}

.rightArrow:hover {
    background: rgba(255, 255, 255, 1);
}

.quickSearchButton1 {
    width: 12vw;
    height: 7vh;
    border-radius: 1vh;
    /*background-color: mediumslateblue;*/
    background: rgba(123, 104, 238, 0.5);
    position: absolute;
    bottom: 20vh;
    right: 45vw;
    font-family: Prompts;
    text-align: center;
}

.quickSearchButton1:hover {
    background: rgba(123, 104, 238, 1);

}

.quickSearchButton2 {
    width: 12vw;
    height: 7vh;
    border-radius: 1vh;
    background: rgba(205, 92, 92, 0.7);
    position: absolute;
    bottom: 35vh;
    right: 29vw;
    font-family: Prompts;
    text-align: center;
}

.quickSearchButton2:hover {
    background: rgba(205, 92, 92, 1);
}
