.circle-container {
    width: 40vh;
    height: 40vh;
    border-radius: 20vh;
    /*background-color: #333333;*/
    position: relative;
    left: 40vw;
    top: 20vh;
}

.hover-container {
    height: 40vh;
    width: 40vh;
    border-radius: 20vh;
}

.circle-tag {
    width: 6vh;
    height: 6vh;
    border-radius: 3vh;
    position: absolute;
    left: 17vh;
    top: 0;
    background-color: #6b8996;
    transition: .5s;
    font-size: 5vh;
    text-align: center;
    line-height: 6vh;
    font-family: "Microsoft YaHei";
    font-weight: bold;
}

.circle-container:hover .circle-tag {
    transform: translate(calc(sin(calc(var(--i)*45deg))*20vh), calc(calc(1 - cos(calc(var(--i)*45deg)))*20vh));
    cursor: pointer;
}

.circle-tag:active {
    background-color: orangered;
    font-size: 7vh;
    line-height: 8vh;
    width: 8vh;
    height: 8vh;
    border-radius: 4vh;
    translate: -1vh -1vh;
}

.loading-bar-container {
    height: 10vh;
    width: 90%;
    position: absolute;
    bottom: 5vh;
    left: 5%;
    /*background-color: #333333;*/
}

.loading-bar {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 4vh;
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.loading-item {
    height: 10vh;
    width: 10vh;
    border-radius: 5vh;
    background: rgba(143, 188, 143, 1);
    position: absolute;
    animation: loading-animation 3s infinite;
    animation-delay: calc(var(--j) * -0.1s);
    line-height: 10vh;
    text-align: center;
    font-size: 6vh;
    font-family: "Microsoft YaHei";
}

@keyframes loading-animation {
    0% {
        left: -30%
    }

    45% {
        left: calc(var(--j) * 7% + 45%)
    }

    55% {
        left: calc(var(--j) * 7% + 45%)
    }

    100% {
        left: 130%
    }
}