#about-tag {
    position: absolute;
    left: 40vw;
    top: 20vh;
    font-family: BebasNeue, Serif;
    font-size: 20vh;
    z-index: 995;
    opacity: 0;
}

#page3-jumpBox {
    position: absolute;
    left: 33%;
    top: 35%;
    /*transform: translate(-50%,-50%);*/
    height: 33vh;
    width: 33vw;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2vh;
    opacity: 0;
}








