.mainTitle {
    position: absolute;
    left: 6vw;
    top: 10vh;
    font-family: BebasNeue, Serif;
    font-size: 30vh;
    z-index: 995;
}

.secondaryTitle {
    position: absolute;
    left: 6vw;
    top: 40vh;
    font-family: BebasNeue, Serif;
    font-size: 10vh;
    line-height: 8vh;
}

.explanation {
    position: absolute;
    left: 6vw;
    top: 57vh;
    font-family: Bitter-Light, Serif;
    font-size: 3vh;
    line-height: 3vh;
}

.ath-image {
    position: absolute;
    top: 25%;
    left: 85%;
    width: 50vh;
    height: 50vh;
    /*opacity: 60%;*/
    z-index: 1;
    animation: infinite-roll 20s infinite linear;
    opacity: 80%;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

@keyframes infinite-roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes small-to-big {
    0% {
        font-size: 0.1vh;
    }
    100% {
        font-size: 30vh;
    }
}

.explanation2 {
    position: absolute;
    left: 6vw;
    top: 40vh;
    font-family: Bitter-Light, Serif;
    font-size: 6vh;
    line-height: 6vh;
    z-index: 992;
}

@keyframes invisi-to-visi {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content2 {
    position: absolute;
    left: 6vw;
    top: 53vh;
    font-family: Kalam, Serif;
    font-size: 3vh;
    line-height: 3vh;
    z-index: 991;
}

.page2title-to-add {
    animation: small-to-big 3s;
}

.page2secondary-to-add {
    animation: invisi-to-visi linear 3s;
}

.page2content-to-add {
    animation: l2l 3s;
}

@keyframes l2l {
    0% {
        width: 300%;
        opacity: 0;
        left: -10vw;
    }

    100% {
        width: 100%;
        opacity: 1;
        left: 6vw;
    }
}

#page2content {
    position: absolute;
    left: 6vw;
    top: 53vh;
    font-family: Kalam, Serif;
    font-size: 3vh;
    line-height: 3vh;
    z-index: 991;
}

#about-tag {
    position: absolute;
    left: 40vw;
    top: 20vh;
    font-family: BebasNeue, Serif;
    font-size: 20vh;
    z-index: 995;
}
